<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <!-- The file upload input -->
            <input type="file" name="img" class="upload-img" />
            <!-- The submit button -->
            <button type="submit" id="submit">Submit</button>
        </form>
        {{#if imgPath}}
        <img src="{{imgPath}}">
        {{/if}}
        <p style="color:red">{{msg}}</p>
    </body>
</html>