<!DOCTYPE html>
<html>

<head>
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <img src="/public/img/header.png" alt="Mare by Alsky,  By: Alice Zhang and Skylar Reynolds">
    <h1>
        Mare by Alsky
    </h1>
    <h3>
    By: Alice Zhang and Skylar Reynolds
    </h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <!-- The file upload input -->
        <input type="file" name="img" class="upload-img" />
        <!-- The submit button -->
        <button type="submit" id="submit">Submit</button>
        <button type="convert" id="convert">Convert</button>
    </form>
    {{#if imgPath}}
    <img style="max-width: 50%" src="{{imgPath}}">
    <a href="{{imgPath}}" download="img">Download</a>
    {{/if}}


    {{!-- <img style="max-width: 50%" src="<%= typeof file != 'undefined' ? file : ''%>"> --}}

    <p style="color:rgb(190,169,222); font-size: 28px;">{{msg}}</p>
</body>

</html>
